
body{
    font-size: 20px;
    margin:0 0 0 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#scene{
    background-image: url("escolhas_ministro_economia.gif");
    height: 700px;
    background-size: cover;
    background-position: center;
}

.timer{
    position: absolute;
    left: 1180px;
    top: 30px;
    height: 48px;
    width:48px;
}

#timer_contador{
    position: absolute;
    left: 1140px;
    top: 25px;
}

.contagio{
    position: absolute;
    left: 1280px;
    top: 30px;
}

#contagio_contador{
    position: absolute;
    left: 1250px;
    top: 25px;
}

#telefone{
    position: absolute;
    height: 100px;
    width: 70px;
    left: 1100px;
    top: 350px;
    min-width: 80px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#poltrona{
    position: absolute;
    height: 300px;
    width: 230px;
    left: 430px;
    top: 280px;
    min-width: 80px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#guedes{
    position: absolute;
    height: 460px;
    width: 210px;
    left: 720px;
    top: 210px;
    min-width: 80px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#falas{
    position: absolute;
    left: 100px;
    top: 20px;
    visibility: hidden;
}

.dialogo1{
    position: absolute;
    left: 100px;
    top: 100px;
    min-width: 80px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}

.dialogo2{
    position: absolute;
    left: 100px;
    top: 100px;
    min-width: 80px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}

.dialogo21{
    position: absolute;
    left: 100px;
    top: 100px;
    min-width: 80px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}

.dialogo3{
    position: absolute;
    left: 100px;
    top: 140px;
    min-width: 80px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}

.dialogo4{
    position: absolute;
    left: 100px;
    top: 180px;
    min-width: 80px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}

#salaoPrincipal{
    position: absolute;
    left: 50px;
    top: 300px;
    cursor: pointer;
    width:48px;
    height:48px;
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }

  #telefoneClique{
    position: absolute;
    left: 700px;
    top: 100px; 
  }

  #salaMinistroSaude{
    position: absolute;
    left: 50px;
    top: 450px;
    width:48px;
    height:48px;
    cursor: pointer;
    visibility: hidden;
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
  }