
body{
    font-size: 20px;
    margin:0 0 0 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#scene{
    background-image: url("saindo_sala_janela.gif");
    height: 700px;
    background-size: cover;
    background-position: center;
}

.timer{
    position: absolute;
    left: 1180px;
    top: 30px;
    height: 48px;
    width:48px;
}

#timer_contador{
    position: absolute;
    left: 1140px;
    top: 25px;
}

.contagio{
    position: absolute;
    left: 1280px;
    top: 30px;
}

#contagio_contador{
    position: absolute;
    left: 1250px;
    top: 25px;
}